@font-face {
    font-family: "Great Vibes";
    font-family: "Indie Flower";
    font-family: "Hachi Maru Pop":
    src: url(../fonts/IndieFlower-Regular.ttf);
    src: url(../fonts/HachiMaruPop-Regular.ttf);
    src: url(../fonts/GreatVibes-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: "Indie Flower", sans-serif;
    text-align: center;
    width: 70%;
}

.divulga24h {
    font-family: "Indie Flower", sans-serif;
}
h2 {
    padding: 5px;
}

/* Navegação */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    
}

nav a#logo {
    text-decoration: none;
    font-family: "Great Vibes", sans-serif;
    color: black;
    font-size: 2.5em;
    padding: 5px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 2px;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    width: 100%;
}
nav ul li a:hover {
    letter-spacing: 1px;
    color: rgb(216, 204, 98);
}

/* Menu Hamburguer */
/*
.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check {
    display: none;
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        left: -100%;
        transition: all .5s;
        top: 80px;
    }
    #check:checked ul {
        left: 0;
        
    }
    .Contato {
        text-decoration: none;
        color: #000;
    }
}*/
/* Cabeçalho */



#Patrocinadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 10px 40px 20px;
    font-weight: bold;
    background: black;
    color: white;
}
#Sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 10px 40px 20px;
    font-weight: bold;
    background: white;
    color: black;
}
#Sobre p {
    max-width: 1000px;
}
#plano {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding: 10px 0 30px 0; 
    font-weight: normal; 
    color: white;
}

span.valor {
    text-decoration: underline;
}
h3 {
    font-weight: normal;
}
#Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.Contato {
    text-decoration: none;
    color: #000;
}

.botao {
    justify-content: right;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1em;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
}

.botao {
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    background-color: white;
    font-size: .9em;
    border-radius: 3px;
}



@media screen and (min-width: 768px) {
    /* Nav */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    /* Cabeçalho */
    header {
        height: 600px;
        height: 40vh;
        justify-content: center;
    }

    /* Sobre */
    #Sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-width: 250px;
    }

    /* Contato */
    #Contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #Contato h2, #Contato p {
        width: 100%;
    }

    .Contato {
        text-decoration: none;
        color: #000;
    }

    .botao {
        justify-content: right;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 1em;

        
    }
    


}

.div-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(216, 204, 98);
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background: black;
    margin: 20px;
    margin-bottom: 40px;
    
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgb(216, 204, 98);
}

img.img-card {
    display: block;
    align-content: center;
    height: 150px;
    width: 200px;

}

p.legenda-card {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.aa {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.link-legenda {
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 5px;
    
}

.link-foto {
    padding: 0;
}

/* Estilizando as Tabelas das Farmácias */
table {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 50px;
    padding: 0px;
    font-size: 20px;
    color: white;
}

table td {
    align-content: center;
    padding: 10px;
}

.titulo {
    font-family: Helvetica, sans-serif;
    padding: 10px;
    font-size: 30px;
    background:black;   
}

.sub-titulo {
    background: white;
    color: black;
    
}

.linha-1 {
    background:black;    
}

.linha-2 {
    background: white;
    color: black;
}

.hover-linhas:hover {
    background: rgb(216, 204, 98);
    color: black;
    transform: scale(1.05);
    letter-spacing: 0.7;
}

/* Patrocínio */

.div-card-patrocinio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: white;
    flex-wrap: wrap;
}

.patrocinio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-decoration: underline;
}

.card-infobras {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px black;
}

.card-tia-olguinha {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px black;
    
}

/* Estilização Perfis */
/* Configurações Galeria */
.div-principal-galeria {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.div-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 60px;
    background: white;
} 
    
.div-galeria {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 0;
    padding: 10px;
    background: white;
}

.div-foto {
    display: flex;
    margin: 10px;
}

.img-foto {
    width: 280px;
    box-shadow: 5px 5px 15px black;
    border-radius: 14px;
}

.img-foto:hover {
    width: 280px;
    transform: scale(1.05);
    cursor: pointer;
}
.img-perfil {
    display: flex;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 3px solid black;

    
}

.img-perfil:hover {
    transform: scale(1.05);
}

/* Formatação Redes Sociais */
.titulo-redes-sociais {
    display: flex;
    text-align: center;
}

.redes-sociais-facebook {
    color: rgb(23, 14, 75);
}

.redes-sociais-whatsapp {
    color: rgb(4, 207, 48);
}

.redes-sociais-instagram {
    color: rgb(208, 47, 230);
}

.redes-sociais-letras {
    color: black;
}

.redes-sociais-as {
    display: flex;
    
    font-weight: bolder;
    flex-wrap: wrap;
    font-size: 18px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .div-principal-galeria {
        flex-wrap: wrap;
    }

    .div-perfil {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}